extends layout

block content
    div(tabindex="0" class="card bordered card-compact")
        h2(class="card-title") Über die Gruppe
        div(class="card-content")
            p Wir sind eine junge und progressive Gruppe, die Themenkomplexe Umwelt/Klima und Digitalisierung abdeckt. Einige von uns sind bereits länger dabei, als Gruppe sind seit diesem Jahr in der Hochschulpolitik aktiv. Wir sind aber nicht nur in der Hochschulpolitik aktiv, sondern auch unabhängig von Ämptern und Wahlen tätig.
    div(tabindex="0" class="card ")
        h2(class="card-title") Unsere Inhalte
        div(class="card-content")
            p
                | Einige ausgewählte Schwerpunktthemen, die wir zur Zeit verfolgen, haben wir euch hier aufgelistet. Wir freuen uns außerdem immer, nicht nur über euren Input, sondern auch wenn ihr mitmachen wollt und z.B. schon eigene Themen und Interessen mitbringt! Schreibt uns einfach eine Mail an
                = " "
                a(class="link text-green-700" href="mailto:gruen-und-technik@uni-goettingen.de") gruen-und-technik@uni-goettingen.de
                | .
            ul(class="list-decimal list-inside")
                li Eine <b>Klimaneutrale Uni</b>, vor allem im Bereich von Energieversorgung und Baumaßnahmen.
                li Rücksichtnahme auf und proaktive Unterstützung der Uni bei <b>psychischen Erkrankungen</b> und schweren Lebensumständen.
                li <b>Studienqualität</b>, sowohl absolut (besser als Mindeststandards), als auch relativ (sich kontinuierlich verbessernd). Wir - genauso wie auch einige andere Gruppen - wollen das u.A. durch eine starke studentische Einbindung in alle Prozesse sicherstellen.
                li Eine <b>angenehmes Studienumfeld</b> mit ausreichenden studentischen Arbeits-, Sozial- und Freiräumen, sowie begrünten Unigeländen.
                li <b>Technische Fortschritte</b> wagen, aber nicht ohne Berücksichtigung der Risiken. Es hilft weder, wenn Datenschutz und Sicherheit leiden, noch wenn Leute überfordert sind.
                li <b>Barrierefreiheit</b>, vor allem in einer digitalen Hochschule.
    div(tabindex="0" class="card ")
        h2(class="card-title") Umgang miteinander
        div(class="card-content")
            p Wir wünschen uns einen wertschätzenden und selbstkritischen Umgang untereinander. Wir wollen hierbei individuelle Bedürfnisse gegenseitig achten und aufmerksam dafür sein.
            P Unter anderem deshalb haben wir einen Verhaltenscodex:
            ol(class="list-decimal list-inside")
                li Du hast das Recht, hier zu sein, solange du mit anderen rücksichtsvoll umgehst.
                li Du hast das Recht, über dich selbst zu bestimmen.
                li
                    | Du hast das Recht,
                    =" "
                    i(class="tooltip tooltip-bottom underline" data-tip="beinhaltet Transparenz und Abwesenheit von struktureller Bevorzugung/Benachteiligung.") fair behandelt
                    =" "
                    | zu werden.
                li Du hast das Recht, dass andere deine Identität akzeptieren und diese nicht durch andere in Frage gestellt wird.
                li Du hast das Recht, Nein zu sagen. Nein heißt Nein!
                li Du hast das Recht, dass andere deine Grenzen nicht überschreiten. Was für dich zu weit geht, bestimmst du selbst.
                li Du hast das Recht, nicht lächerlich gemacht oder belästigt oder unkonsensual verletzt zu werden - insbesondere, wenn dies
                    =" "
                    i(class="tooltip tooltip-bottom underline" data-tip="Es kann durchaus vorkommen, dass bestimmte Äußerungen oder Handlungen andere verletzen. Bitte vertraut auf eure Gefühle und kommuniziert offen miteinader.") mutwillig passiert
                    | .
                li Du hast das Recht, andere um Unterstützung zu bitten und andere zu unterstützen, wenn diese das wünschen. Couragiertes Verhalten ist explizit erwünscht.
                li Du hast das Recht zu bestimmen, wann, wo, wie und ob du fotografiert, gefilmt oder aufgenommen wirst.
                li Du hast das Recht, rücksichtsvoll Fragen zu stellen. Du hast auch das Recht, dir gestellte Fragen nicht zu beantworten.
                    sup
                        i(class="tooltip tooltip-bottom underline" data-tip="Fragen und offener Austausch führen dazu, dass Menschen dazulernen, das ist auf jeden Fall wünschenswert. Bedenke trotzdem, dass die gleiche Frage für unterschiedliche Menschen andere Implikationen haben kann. Das könnte dazu führen, dass jemand eine rücksichtsvoll gemeinte Frage trotzdem nicht beantworten kann oder möchte.") ?
            p Dieser Codex gilt nicht nur gruppenintern, er stellt auch eine Zusicherung an alle dar, die mit uns zusammen arbeiten.
